# Firebase
GoogleService-Info.plist

# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

# User settings
*.xcuserstate
*.xcuserdatad/

# Build
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/

# Swift Package Manager
.swiftpm/
*.xcworkspace

# macOS
.DS_Store

# Sensitive files
*.plist
!Info.plist
